h1{
    text-align: center;
    color: crimson;
}
h2{
    background-color: darkgrey;
    color:blue ;
    text-align: center;
}
p{
    text-align: justify;
    border: 5px solid violet;
    margin: 3%;
}